<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vote</title>

	<script>
        SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

		function vote(direction) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                document.getElementById("result").innerHTML =
                this.responseText;
                }
            };
            xhttp.open("GET", SCRIPT_ROOT + '/vote/' + direction, true);
            xhttp.send();
        }
	</script>
</head>

<body>
	<button onclick="vote('up')">Vote Up</button>
    <button onclick="vote('down')">Vote Down</button>
    <p id="result"></p>
</body>

</html>